$bg-color: #121214;
$base-font-size: 1.6rem;
$primary-color: #fff;
$primary-font-family: 'roboto', sans-serif;
$primary-font-weight: 300;
$primary-line-height: 140%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: $bg-color;
    color: $primary-color;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 3.2rem;
}